* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}body{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    background-color: #1E1E1E;
    color: #ffffff;
}

main{
    margin: auto;
    width: 90%;
    max-width: 1200px;
}

.card-intro{
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 1000px;
    padding: 2rem 1rem;
    margin: 0 auto;
}

.intro-titles{
    margin: 0;
    padding: 2px;
    padding-left: 8px;
}

.intro-content{
    flex: 1;
}

header{
    background-color: #43395c;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: #ffffff;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    background-color: #1E1E1E;
    border-radius: 5px;
    font-weight: bold;
}

#devgroup{
    font-size: 48px;
    font-weight: 600;
}

#meetup{
    font-size: 64px;
    font-weight: 600;

}

#local{
    font-size: 24px;
    font-weight: 600;
}

#network{
    font-size: 48px;
    font-weight: 600;
}

.card-link{
    text-decoration: none;
}

.card-desc{
    margin: 40px;
    padding: 20px;
    color: white;
    background-color: #1E1E1E;
    outline: 2px solid #4684E4;
    border-radius: 10px;
}

.logo-img{
    width: 210px;
    height: auto;
    object-fit: contain;
}

.palestrantes{
    margin-bottom: 2rem;
}

.text-cardbox{
    padding: 2rem;
}

.profissao-palestrante{
    display: flex;
    padding: 2rem;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1.875rem;
    font-weight: 700;
    height: 1.5rem;
    text-decoration: none;
    color: rgb(248, 248, 248);
}

.card-palestrante{
    background-color: #1E1E1E;
    color: #ffffff;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#p1{
    outline: 2px solid #D94A3C;
}

#p2{
    outline: 2px solid #39A557;
}

.photo{
    max-width: 50%;
    max-height: auto;
    border-radius: 8px;
}

#loc-data{
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #1E1E1E;
    outline: 2px solid #4684E4;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
}

.mapa{
    width: 75vw;
    height: 400px;
    max-width: 100%;
    opacity: 85%;
    border-radius: 1rem;
    transition: height 0.3s ease;
    margin-top: 5px;
}

.card-desc h2{
    margin-bottom: 20px;
}

.paragraph_about{
    margin-bottom: 10px;
    line-height: 1.5;
    
}

footer{
    padding: 1rem 0;
    background-color: #43395c;
    color:white;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}


/*estilo de responsividade*/
@media (min-width:768px){
    main{
        width: 80%;
    }
    .palestrantes{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
    }
}